---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  newWindow?: string;
  target?: string;
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  target,
} = Astro.props;
---

{
  disabled ? (
    <span
      class={`group inline-block ${className}`}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class={`group inline-block hover:text-skin-accent ${className}`}
      aria-label={ariaLabel}
      title={title}
      target="_blank"
    >
      <slot />
    </a>
  )
}

<style>
  a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4 p-4 flex flex-row items-center justify-evenly;
  }
</style>
